@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightcyan;
}

header {
    background-color: rgb(134, 133, 133);
}

header h1 {
    padding: 10px;
    text-align: center;
}

span.material-symbols-outlined {
    background-color: rgb(61, 60, 60);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span.material-symbols-outlined:hover {
    background-color: white;
    color: black;
}

/* Menu inicialmente oculto nas telas pequenas (controlado pelo JS) */
menu {
    display: none;
}

/* Remove a lista padrão */
menu > ul {
    list-style-type: none;

    /* Torna os itens lado a lado */
    display: flex;
    justify-content: center; /* centraliza */
    align-items: center;
    flex-wrap: wrap; /* evita quebrar layout em telas menores */
}

menu > ul > li {
    margin: 0 10px; /* espaçamento horizontal */
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(61, 60, 60);
    color: white;
    border-radius: 5px; /* opcional, apenas fica mais bonito */
}

menu > ul > li > a:hover {
    background-color: rgba(128, 128, 128, 0.884);
}

main {
    width: 90vw;
    background-color: rgb(230, 225, 225);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
