@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

/* Header */
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 10px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
}

header > p {
    padding-bottom: 50px;
    font-style: italic;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/* Seções gerais */
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 2vw;
    font-family: var(--fonte3);
    text-align: left;
    font-size: 3.5vh;
}

section > p {
    padding-bottom: 2em;
}

/* Seções normais */
section.normal {
    background-color: white;
    color: black;
}

/* Seções de imagem/parallax */
section.imagem, section#img01, section#img02 {
    background-color: rgba(44, 42, 42, 0.507);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    background-attachment: fixed; /* ativa parallax */
    background-size: cover;
    background-position: center center;
    min-height: 100vh; /* garante que ocupe toda a tela */
}

/* Específicos para cada imagem */
section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

/* Estilo para pre */
section pre {
    font-family: var(--fonte3);
    white-space: pre-wrap;
    word-wrap: break-word;
    width: fit-content;
    margin: 0;
    background-color: transparent;
    padding: 0;
}

section.imagem pre, section#img01 pre, section#img02 pre {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    text-shadow: 1px 1px 0px black;
}


section.normal pre {
    background-color: white;
    color: black;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
