@charset "UTF8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B18771, #EDBB98);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #42190288;
    width: 80%;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #524B41;
    text-align: center;
    text-shadow: 1px 1px 2px #5532029d
}

h2 {
    color: #63554C;
}


p {
    text-align: justify;
}

